@tailwind base;
@tailwind components;
@tailwind utilities;

article h1 {
  margin: 1rem 0;
  color: "#404040"; /* text-zinc-700 */
  font-weight: 500;
  font-size: 1.875rem; /* 30px */
  line-height: 2.25rem; /* 36px */
}

article h2 {
  color: "#52525b"; /* text-zinc-600 */
  font-weight: 500; 
  font-size: 1.25rem; /* 20px */
  line-height: 1.75rem; /* 28px */
}

article h3 {
  color: "#52525b"; /* text-zinc-600 */
  font-weight: 500; 
  font-size: 1.125rem; /* 18px */
  line-height: 1.75rem; /* 28px */
}

article p {
  color: "#71717a"; /* text-zinc-500 */
  font-weight: 400;
  font-size: 1rem; /* 16px */
  line-height: 1.5rem; /* 24px */
}

article li {
  list-style-type: disc;
  margin-left: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

article p strong {
  margin: 0.75rem 0;
  color: "#52525b"; /* text-zinc-600 */
  font-weight: 500; 
  font-size: 1.25rem; /* 20px */
  line-height: 1.75rem; /* 28px */
}

article li strong {
  margin: 0.75rem 0;
  color: "#52525b"; /* text-zinc-600 */
  font-weight: 600; 
}