@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  -webkit-font-smoothing: antialiased;
  font-family: 'Nunito', sans-serif;
  scroll-behavior: smooth !important;
}

*, html {
  scroll-behavior: smooth !important;
}
  